.progressBar{
    color: white;
    position: relative;
    height: 20px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid #d6cfcf;
    background-color: white;
}
.filler{
    background: #1DA598;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}