body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.icon{
    margin: 10px;
    font-size: 60px;
}
.icon-btn:hover{
    cursor: pointer;
    color: rgb(42, 130, 165);
    font-size: 20px;

}