.suggestions{
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 30px;
}
.suggestions__title{
    color: grey;
    font-weight: bold;
}
.username__left{
    display: flex;
    align-items: center;
}
.username__info{
    display: flex;
    flex-direction: column;
}
.relation{
    color: grey;
    font-size: 12px;
}
.suggestion__username{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.follow_button{
    color: #0005f6;
    font-weight: bold;
    background: 0;
    border: 0;
}
.follow_button:hover{
    color: white;
    cursor: pointer;
}
.username{
    font-weight: 600;
    font-size: 14px ;
}
.avatar{
    margin-right: 10px;
}