.form_container{
    width: 30%;
    /* background-color: black;*/
    color: white; 
    
}
@media screen and(max-with:1000px) {
    .form_container{
        width: 45%;
    }
    
}
/* .signup{
    padding-top: 30px;
} */
@media screen and(max-with:700px) {
    .form_container{
        width: 65%;
    }
    
}