.form_container{
    width: 30%;
}
@media screen and(max-with:1000px) {
    .form_container{
        width: 45%;
    }
    
}
@media screen and(max-with:700px) {
    .form_container{
        width: 65%;
    }
    
}